<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<section>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3><br/>
    <small><%= post.category %></small><small>, published at <%= post.created_at %> </small> <br/>
    <small><b><%= post.author %></b></small><br/>
    <%= image_tag post.image_url %><br/>
    <p><%= post.content %></p><br/>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th>Image url</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.category %></td>
        <td><%= post.author %></td>
        <td><%= post.image_url %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
